body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
}

ol,
li,
ul,
dl,
dt,
dd {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0
}

h1,
h2,
h3,
h4,
h5,
h6,
i,
strong {
  font-weight: normal;
}

img {
  vertical-align: middle;
  border: none;
  width: 100%;
}

i {
  font: inherit;
}

a {
  color: #fff;
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  background-color: transparent;
}

a:hover {
  text-decoration: none;
  outline: none;
}

select::-ms-expand {
  display: none;
}

a:active,
a:hover {
  outline: 0
}

input,
select,
option {
  vertical-align: middle;
  border-radius: 0;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  outline: none;
}

input[type="text"],
input[type="button"],
input[type="submit"],
input[type="reset"] {
  -webkit-appearance: none;
  appearance: none;
  border-radius: 0;
  outline: none;
}

.overflow {
  overflow: hidden;
}

html {  
  -webkit-text-size-adjust: 100%;  
  -ms-text-size-adjust: 100%;  
  /* 解决IOS默认滑动很卡的情况 */  
  -webkit-overflow-scrolling : touch;  
}

/* 禁止缩放表单 */  
input[type="submit"], input[type="reset"], input[type="button"], input {  
  resize: none;  
  border: none;  
}

/* 图片自适应 */  
img {  
  width: 100%;  
  height: auto;  
  width: auto\9; /* ie8 */  
  -ms-interpolation-mode: bicubic;/*为了照顾ie图片缩放失真*/  
}

html, body{
  font-family: "PingFang SC", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial,sans-serif;
}
body{
  width: 100%;
  background-color: #f5f5f9;
}
.pc-tip{
  font-size: 0.2rem;
  text-align: center;
  margin-top: 0.5rem;
}
#app{
  height: 100%;
  overflow: hidden;
  position: relative;
}
.btn{
  display: flex;
  justify-content: flex-end;
  margin-top: 0.2rem;
  padding-right: 0.2rem;
}
.btn .topbtn{
  width: 0.6rem;
  height: 0.3rem;
  color: #000;
  font-size: 0.13rem;
  text-align: center;
  line-height: 0.3rem;
  border: 0.01rem solid #ddd;
  background-color: #fff;
  border-radius: 0.05rem;
  box-sizing: border-box;
}
.btn .topbtn:active{
  background-color: #dadada;
}
.box{
  box-sizing: border-box;
  width: 3.51rem;
  height: 5.08rem;
  background-image: url('../images/box_bg.png');
  background-size: cover;
  border-radius: 0.04rem;
  margin: 0.24rem auto auto;
  position: relative;;
}
.box .top{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.box .top p{
  height: 0.28rem;
  font-size: 0.2rem;
  font-family: PingFangSC-Semibold, PingFang SC;
  font-weight: 600;
  color: rgba(0,0,0,.85);
  line-height: 0.28rem;
  padding: 0.24rem 0 0.16rem 0.16rem;
}
.box .top .logo{
  width: 1.91rem;
  height: 0.48rem;
  margin-right: 0.16rem;
  background: url('../images/logo.png') no-repeat center;
  background-size: contain;
}
.content{
  width: 3.21rem;
  height: 4rem;
  margin: 0 auto;
  position: relative;
  z-index: 99;
}
.swiper-container{
  width: 321px;
  height: 4rem;
}
@media screen and (min-width: 376px) {
  .swiper-container {
    width: 361px;
  }
}
.card{
  overflow: hidden;
  position: relative;
  box-sizing: border-box;
  margin: 0 auto;
  width: 3.11rem;
  height: 4rem;
  box-shadow: 0 0.01rem 0.05rem #000;
  border-radius: 0.05rem;
  padding: 0.4rem 0.2rem 0;
  background: url('../images/bg.png') no-repeat left;
  background-size: cover;
  display: flex;
}
.swiper-pagination {
  position: absolute;
  left: 0;
  text-align: center;
  bottom: -0.13rem;
  width: 100%;
}
.swiper-pagination-bullet {
  display: inline-block;
  width: 0.08rem;
  height: 0.08rem;
  border-radius: 0.1rem;
  background: #ccc;
  margin: 0 0.03rem;
  cursor: pointer;
  opacity: 1;
}
.swiper-pagination-bullet-active {
  background: #888;
  opacity: 1;
}
.card .icon{
  width: 0.4rem;
  height: 0.4rem;
  margin-top: 0.06rem;
  background: url('../images/icon.png') no-repeat center;
  background-size: contain;
}
.card .info{
  color: #fff;
  margin-left: 0.15rem;
}
.card .info h2{
  font-size: 0.24rem;
  font-family: PingFangSC-Semibold,PingFang SC;
}
.card .info .-gs{
  font-size: 0.12rem;
  font-family: PingFangSC-Regular,PingFang SC;
}
.card .info .-name{
  font-size: 0.13rem;
  font-family: PingFangSC-Medium,PingFang SC;
  margin: 0.15rem 0 0.06rem 0.01rem;
}
.card .info .-iphone{
  font-size: 0.13rem;
  font-family: PingFangSC-Regular,PingFang SC;
  margin-left: 0.01rem;
}
.card .info .-date{
  font-size: 0.35rem;
  margin: 0.13rem 0 0.23rem 0;
  font-family: PingFangSC-Semibold,PingFang SC;
  font-weight: 600;
}
.isok{
  width: 1.39rem;
  height: 1.39rem;
  background: url('../images/isok.png') no-repeat center;
  background-size: contain;
  position: absolute;
  left: 0.2rem;
  bottom: 0.39rem;
}

/* 登录 */
.login-box{
  padding: 0 0.3rem;
  width: 100%;
  height: 4.3rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
}
.login-box h1{
  font-size: 0.24rem;
  color: rgb(72, 68, 68);
  text-align: center;
  margin: 0.2rem 0;
  font-weight: 600;
}
.login-box .tip{
  font-size: 0.14rem;
  color: rgb(99, 96, 96);
  text-align: center;
  margin: 0.12rem 0;
  font-weight: 600;
}
.form .form-iphone, .form .form-code{
  width: 100%;
  height: 0.44rem;
  background-color: #fff;
  display: flex;
  align-items: center;
  padding-left: 0.15rem;
}
.form .form-iphone p, .form .form-code p{
  width: 0.6rem;
  font-size: 0.17rem;
  color: #000;
}
.form .form-iphone{
  border-bottom: 0.01rem solid rgb(244, 243, 243, 0.7); 
}
.form .form-code .get-code{
  width: 0.93rem;
  height: 0.3rem;
  line-height: 0.3rem;
  text-align: center;
  font-size: 0.13rem;
  color: #108ee9;
  border: 0.005rem solid #108ee9;
  border-radius: 0.05rem;
  margin-left: 0.15rem;
}
.form .form-iphone input, .form .form-code input{
  margin-left: 0.3rem;
  font-size: 0.17rem;
}
.form .form-iphone input{
  width: 1.3rem;
}
.form .form-code input{
  width: 0.9rem;
}
.login-box .tip-2{
  color: red;
  font-size: 0.14rem;
  margin: 0.14rem 0;
}
.login-box .tip-3{
  color: gray;
  font-size: 0.14rem;
}
.login-btn{
  font-size: 0.18rem;
  height: 0.47rem;
  line-height: 0.47rem;
  text-align: center;
  color: #fff;
  background-color: #1f90e6;
  margin-top: 0.15rem;
  border-radius: 0.05rem;
}
.login-btn:active{
  color: #60a8dd;
  background-color: #1b82cf;
}
.code-num{
  width: 0.51rem;
  height: 0.3rem;
  line-height: 0.3rem;
  text-align: center;
  font-size: 0.13rem;
  color: rgba(0, 0, 0, .2);
  border: 0.005rem solid rgba(0,0,0,.1);
  background-color: #fff;
  border-radius: 0.05rem;
  margin-left: 0.52rem;
  display: none;
}

/* 未审核样式 */
.card.yesterday{
  background: url('../images/bg2.png') no-repeat left !important;
  background-size: cover;
}
.isok.no{
  width: 1.39rem;
  height: 1.39rem;
  background: url('../images/nook.png') no-repeat center !important;
  background-size: contain !important;
}
.tip-msg{
  width: 100%;
  height: 0.32rem;
  background: url('../images/tip.png') no-repeat center;
  background-size: contain;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  color: #fff;
  font-size: 0.12rem;
  line-height: 0.32rem;
  padding-left: 0.35rem;
  box-sizing: border-box;
}